################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/obj/Debug/netcoreapp2.2
/WebApplication1/obj/Release/netcoreapp2.2
/WebApplication1/obj
/WebApplication1/bin